@model Application.DTO.ListDTO
@{
    ViewData["Title"] = "Изменение книги";
}
<h3>Изменение книги</h3>
<form method="post">
    <input type="hidden" value="@Model.BookDTO.Id" name="Id" />
    <p>
        <label>Title</label>
        <input type="text" value="@Model.BookDTO.Title" name="Title" required />
    </p>
    <p>
        <label>Short description</label>
        <input type="text" value="@Model.BookDTO.DescriptionShort" name="DescriptionShort" required />
    </p>
    <p>
        <label>Long description</label>
        <input type="text" value="@Model.BookDTO.DescriptionLong" name="DescriptionLong" required />
    </p>
    <p>
        <label>Average rating</label>
        <input type="number" max="5" min="0" step="0.1" value="@Model.BookDTO.AverageRating" name="AverageRating" required />
    </p>
    <p>
        <label>Genre</label>
        <select name="GenreId">
            @foreach (var genre in @Model.GenreDTO)
            {
                if (genre.Id == Model.BookDTO.GenreId)
                {
                    <option selected value="@genre.Id">@genre.GenreName</option>
                }
                else
                {
                    <option value="@genre.Id">@genre.GenreName</option>
                }

            }
        </select>
    </p>
    <p>
        <label>Author</label>
        <select name="AuthorId">
            @foreach (var author in Model.AuthorDTO)
            {
                if (author.Id == Model.BookDTO.AuthorId)
                {
                    <option selected value="@author.Id">@author.LastName</option>
                }
                else
                {
                    <option value="@author.Id">@author.LastName</option>
                }
            }
        </select>
    </p>
    <p>
        <label>Book status</label>
        <select name="BookStatusId">
            @foreach (var status in Model.BookStatusDTO)
            {
                if (status.Id == Model.BookDTO.BookStatusId)
                {
                    <option selected value="@status.Id">@status.StatusName</option>
                }
                else
                {
                    <option value="@status.Id">@status.StatusName</option>
                }
            }
        </select>
    </p>
    <p>
        <label>Book series</label>
        <select name="BookSeriesId">
            @foreach (var series in Model.BookSeriesDTO)
            {
                if (series.Id == Model.BookDTO.BookSeriesId)
                {
                    <option selected value="@series.Id">@series.SeriesName</option>
                }
                else
                {
                    <option value="@series.Id">@series.SeriesName</option>

                }
            }
        </select>
    </p>
    <p>
        <label>Tags</label><br />
        @foreach (var tag in Model.TagDTO)
        {
            if (Model.BookDTO.BookToTagsDTO != null)
            {
                if (Model.BookDTO.BookToTagsDTO.Any(t => t.TagId == tag.Id))
                {
                    <input type="checkbox" checked name="tagsId" value="@tag.Id" />@tag.TagName<br />
                }
                else
                {
                    <input type="checkbox" name="tagsId" value="@tag.Id" />@tag.TagName<br />
                }
            }
            else
            {
                <input type="checkbox" name="tagsId" value="@tag.Id" />@tag.TagName<br />
            }
        }
    </p>
    <br /><br />
    <button>Изменить книгу</button>
</form>