@model Books.Application.DTO.ListDTO
@{
    ViewData["Title"] = "Изменение книги";
}

<form method="post" class="pt-2">
    <div class="container-fluid" style="text-align: center">
        <h3 class="text-left">Книга</h3>
        <div class="d-sm-block bg-white border box-shadow mb-3 rounded p-3">

            <input type="hidden" value="@Model.BookDTO.Id" name="Id" />

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Title</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="Title" value="@Model.BookDTO.Title" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Short description</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="DescriptionShort" value="@Model.BookDTO.DescriptionShort" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Long description</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="DescriptionLong" value="@Model.BookDTO.DescriptionLong" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Average rating</h4>
                </div>
                <div class="col-sm">
                    <input type="number" max="5" min="0" step="0.1" name="AverageRating" value="@Model.BookDTO.AverageRating" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Genre</h4>
                </div>
                <div class="col-sm">
                    <select name="GenreId" class="form-control">
                        @foreach (var genre in @Model.GenreDTO)
                        {
                            if (genre.Id == Model.BookDTO.GenreId)
                            {
                                <option selected value="@genre.Id">@genre.GenreName</option>
                            }
                            else
                            {
                                <option value="@genre.Id">@genre.GenreName</option>
                            }

                        }
                    </select>
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Author</h4>
                </div>
                <div class="col-sm">
                    <select name="AuthorId" class="form-control">
                        @foreach (var author in Model.AuthorDTO)
                        {
                            if (author.Id == Model.BookDTO.AuthorId)
                            {
                                <option selected value="@author.Id">@author.LastName</option>
                            }
                            else
                            {
                                <option value="@author.Id">@author.LastName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Book status</h4>
                </div>
                <div class="col-sm">
                    <select name="BookStatusId" class="form-control">
                        @foreach (var status in Model.BookStatusDTO)
                        {
                            if (status.Id == Model.BookDTO.BookStatusId)
                            {
                                <option selected value="@status.Id">@status.StatusName</option>
                            }
                            else
                            {
                                <option value="@status.Id">@status.StatusName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Book series</h4>
                </div>
                <div class="col-sm">
                    <select name="BookSeriesId" class="form-control">
                        @foreach (var series in Model.BookSeriesDTO)
                        {
                            if (series.Id == Model.BookDTO.BookSeriesId)
                            {
                                <option selected value="@series.Id">@series.SeriesName</option>
                            }
                            else
                            {
                                <option value="@series.Id">@series.SeriesName</option>

                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm">
                    <h4>Tags</h4>
                </div>
            </div>
            <div class="row mt-4 text-left">
                <div class="col-sm-3">

                    @foreach (var tag in Model.TagDTO)
                    {
                        <div class="form-check">
                            @{
                                if (Model.BookDTO.BookToTagsDTO != null)
                                {
                                    if (Model.BookDTO.BookToTagsDTO.Any(t => t.TagId == tag.Id))
                                    {
                                        <input type="checkbox" checked name="tagsId" value="@tag.Id" class="form-check-input" />
                                        <label class="form-check-label">@tag.TagName</label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="tagsId" value="@tag.Id" class="form-check-input" />
                                        <label class="form-check-label">@tag.TagName</label>
                                    }
                                }
                                else
                                {
                                    <input type="checkbox" name="tagsId" value="@tag.Id" class="form-check-input" />
                                    <label class="form-check-label">@tag.TagName</label>
                                }
                            }
                        </div>
                    }

                </div>
            </div>

            <div class="row mt-2 text-left">
                <button class="m-4 p-2 col-sm btn btn-outline-warning">Изменить книгу</button>
            </div>
        </div>
    </div>
</form>