@model Books.Application.DTO.AuthorDTO
@{
    ViewData["Title"] = "Добавление автора";
}
<form method="post" class="pt-2" enctype="multipart/form-data">
    <div class="container-fluid" style="text-align: center">
        <h3 class="text-left">Добавление автора</h3>
        <div class="d-sm-block bg-white border box-shadow mb-3 rounded p-3">

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Имя</h4>
                </div>
                <div class="col-sm">
                    @if (Model != null)
                    {
                        <input type="text" name="Name" required class="w-100 form-control" value="@Model.Name"/>
                    }
                    else
                    {
                        <input type="text" name="Name" required class="w-100 form-control" />
                    }
                </div>
            </div>

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Фамилия</h4>
                </div>
                <div class="col-sm">
                    @if (Model != null)
                    {
                        <input type="text" name="LastName" required class="w-100 form-control" value="@Model.LastName" />
                    }
                    else
                    {
                        <input type="text" name="LastName" required class="w-100 form-control" />
                    }
                </div>
            </div>

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Отчество</h4>
                </div>
                <div class="col-sm">
                    @if (Model != null)
                    {
                        <input type="text" name="Patronymic" required class="w-100 form-control" value="@Model.Patronymic"/>
                    }
                    else
                    {
                        <input type="text" name="Patronymic" required class="w-100 form-control" />
                    }
                </div>
            </div>

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Родился</h4>
                </div>
                <div class="col-sm">
                    <input type="date" name="DateOfBirth" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Умер</h4>
                </div>
                <div class="col-sm">
                    <input type="date" name="DateOfDie" class="w-100 form-control" />
                </div>
            </div>

            @if (ViewData["Error"] != null)
            {
                <div class="row mt-4 text-center">
                    <div class="col-sm text-danger">
                        <p>@ViewData["Error"]</p>
                    </div>
                </div>
            }

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Место рождения</h4>
                </div>
                <div class="col-sm">
                    @if (Model != null)
                    {
                        <input type="text" name="PlaceOfBirth" required class="w-100 form-control" value="@Model.PlaceOfBirth" />
                    }
                    else
                    {
                        <input type="text" name="PlaceOfBirth" required class="w-100 form-control" />
                    }
                </div>
            </div>

            <div class="row mt-4 text-left">
                <div class="col-sm-4">
                    <h4>Биография</h4>
                </div>
                <div class="col-sm">
                    @if (Model != null)
                    {
                        <input type="text" name="Biography" required class="w-100 form-control" value="@Model.Biography"/>
                    }
                    else
                    {
                        <input type="text" name="Biography" required class="w-100 form-control" />
                    }
                </div>
            </div>

            <div class="row mt-2 text-left">
                <button class="m-4 p-2 col-sm btn btn-outline-warning">Добавить автора</button>
            </div>
        </div>
    </div>
</form>