@model Books.Application.DTO.AuthorDTO
@{
    ViewData["Title"] = "Изменить автора";
}

<form method="post" class="pt-5">
    <div class="container-fluid" style="text-align: center">
        <h3 class="text-left">Автор</h3>
        <div class="d-sm-block bg-white border box-shadow mb-3 rounded p-3">
            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Имя</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="Name" value="@Model.Name" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Фамилия</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="LastName" value="@Model.LastName" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Отчество</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="Patronymic" value="@Model.Patronymic" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Родился</h4>
                </div>
                <div class="col-sm">
                    <input type="date" name="DateOfBirth" value='@Model.DateOfBirth.ToString("yyyy-MM-dd")' required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Умер</h4>
                </div>
                <div class="col-sm">
                    @if (Model.DateOfDie != null)
                    {
                        <input type="date" name="DateOfDie" value='@Model.DateOfDie.GetValueOrDefault().ToString("yyyy-MM-dd")' required class="w-100 form-control" />
                    }
                    else
                    {
                        <input type="date" name="DateOfDie" required class="w-100 form-control" />
                    }
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Место рождения</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="PlaceOfBirth" value="@Model.PlaceOfBirth" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Биография</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="Biography" value="@Model.Biography" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <button class="m-4 p-2 col-sm btn btn-outline-warning">Изменить автора</button>
            </div>
        </div>
    </div>
            
</form>